.message-list {
    color: black;
}

.chatbox-container {
    background-image: url("/images/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}




.chatbox-history-title,
.chatbox-my-therapist {
    font-size: 1.563vw;
    font-weight: 500;
    color: #D7D7D7;
}

.chatbox-history-box,
.chatbox-outside-box {
    background-color: rgba(22, 17, 53, 0.8);

}

.chatbox-history-box {
    padding: 2.5vw 1vw;
    width: 16vw;
    margin-left: 14.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
}

.chatbox-outside-box {
    margin-top: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    margin-right: 1vw;
    border-radius: 0.5vw;
}

.chatbox-outside-box {
    padding: 2.5vw 4vw;
    width: 72vw;
}

.chatbox-input-box {
    background-color: #464257;
    border-radius: 50px;
    padding: 0.5vw 1vw;
    color: #d4d4d4;
    width: 37vw;
}

.chatbox-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbox-send-icon {
    width: 2vw;
    height: 2vw;
}

.fodase {
    padding: 0;
}