.chatbox-container-happy {
  background-image: url("/images/homepage-happybg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.chatbox-history-title {
  font-size: 1.563vw;
  font-weight: 500;
  color: #D7D7D7;
}

.chatbox-history-box-happy{
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2.5vw 1vw;
  width: 16vw;
  margin-left: 14.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  border-radius: 0.5vw;
}

