.chatbox-container {
    background-image: url("/images/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.chatbox-history-title {
    font-size: 1.563vw;
    font-weight: 500;
    color: #D7D7D7;
}

.chatbox-history-box{
    background-color: rgba(22, 17, 53, 0.8);
    padding: 2.5vw 1vw;
    width: 16vw;
    margin-left: 14.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
}

.chatbox-history-convo {
    margin-top: 2vw;
    color: #fff;
    margin-bottom: 1vw;
}

.chatbox-timestamp {
    font-weight: 600;
    font-size: 16px;
}

.chatbox-msg-history-rectangle {
    background-color: rgba(37, 43, 94, 0.7);
    padding: 0.5vw 0.8vw;
    border-radius: 0.7vw;
}