/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

.jn-page {
  font-family: "Poppins", sans-serif;
  background-image: url("/images/fundo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  min-height: 100vh;
}

.jn-page-box {
  display: flex;
  margin-bottom: 1.302vw;
}

.jn-content-box {
  display: flex;
  flex-direction: column;
  margin-left: 15.8vw;
  margin-top: 4vh;
  margin-bottom: 6vh;
}

.jn-first-row-box {
  display: flex;
  margin-top: 1.302vw;
  margin-bottom: 2vh;
}

.jn-description-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.042vw;
  padding: 1.563vw 23.958vw 1.563vw 1.563vw;
}

.jn-second-row-page {
  display: flex;
  margin-top: 1.302vw;
}

.jn-left-content-box {
  flex: 1;
}

.jn-right-content-box {
  width: 38.021vw;
  margin-left: 2.604vw;
  margin-right: 2.604vw;
  background-color: rgba(22, 17, 53, 0.8);
  border-radius: 0.521vw;
  padding: 1.042vw 2.604vw;
  height: 28.5vw;
}

.jn-grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.083vw;
}

.jn-4-cards {
  border-radius: 0.521vw;
  padding: 0.542vw 1.083vw;
  background-color: rgba(22, 17, 53, 0.8);
  height: 28vh;
}

.jn-card-title-box {
  margin-bottom: 1.042vw;
}

.jn-subtitle-box-flex {
  display: flex;
  flex-wrap: wrap;
  height: 10vh;
}

.jn-subtitle-box {
  /* flex: 1 1 100%; */
  margin-bottom: 0.521vw;
}

.jn-subtitle {
  margin-top: -1vh;
  font-size: 12px;
  text-align: center;
}

.jn-btn {
  background-color: #d278ae;
  color: #fff;
  border: none;
  height: 2vh;
  padding: 0.16vw 0.521vw;
  border-radius: 2.604vw;
  cursor: pointer;
}

.jn-btn:hover {
  background-color: #c44792;
}

.jn-btn:active {
  transform: scale(0.95);
  border: none;
}

.jn-my-entries-box {
  margin-bottom: 1.042vw;
}

.jn-my-entries {
  font-size: 1.25vw;
  font-weight: bold;
}

.jn-subtitle-diary-box {
  display: flex;
  justify-content: space-between;
  padding: 0.625vw 1.042vw;
}

.jn-date {
  text-align: end;
}

.jn-prompt-box,
.jn-date-box {
  flex: 1;
}

.jn-diary-content-box1 , .jn-diary-content-box2 , .jn-diary-content-box3, .jn-diary-content-box4 , .jn-diary-content-box5 , .jn-diary-content-box6 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
  background-color: #2c3165;
  padding: 0.781vw 1.302vw;
  border-radius: 0.481vw;
  cursor: pointer;
}

.jn-diary-content-box1 , .jn-diary-content-box6 {
  background-color: rgba(244, 153, 96, 0.6);
}

.jn-diary-content-box2 , .jn-diary-content-box4{
  background-color: rgba(200, 105, 163, 0.6);
}

.jn-diary-content-box3{
  background-color: rgba(44, 49, 101, 0.6);
}

.jn-diary-content-box5{
  background-color: rgba(61, 16, 65, 0.6);
}

.jn-diary-title-write-box {
  font-weight: bold;
}

.jn-date-of-note {
  color: #888;
}

.jn-card-title {
  font-size: 0.833vw;
  font-weight: 500;
  text-align: start;
}
.jn-subtitle {
  font-size: 0.729vw;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
}
.jn-btn {
  font-size: 0.521vw;
}

.jn-subtitle-box {
  display: flex;
  gap: 2.083vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.jn-my-entries {
  font-size: 1.042vw;
  font-weight: 500;
}

.jn-title {
  font-weight: 500;
  font-size: 1.4vw;
}

.jn-text {
  color: #d8d8d8;
  font-weight: 100;
  margin-left: 0;
}

.jn-text-box {
  margin-top: -2vh;
}

.jn-prompt,
.jn-date {
  font-size: 0.729vw;
  font-weight: 500;
}

.jn-diary-title-write-box,
.jn-date-of-note {
  color: #fff;
  font-size: 0.729vw;
  font-weight: 400;
  margin-top: 0;
}

.jn-algum-titulo-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.jn-pic {
  width: 85vw;
}

.jn-right-content-box {
  position: relative;
}

/* Estilos para o modal customizado */
.custom-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}


.custom-modal-content {
  background: rgba(190, 189, 189, 1);
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  color: black;
}

.custom-modal-content h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.custom-modal-content p {
  font-size: 14px;
  margin-bottom: 10px;
}

.custom-modal-content button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: #f06292;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.custom-modal-content button:hover {
  background: #e91e63;
}
