* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.note-main {
  font-family: "poppins", sans-serif;
  background-image: url("/images/fundo.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.note-page-box {
  display: flex;
  margin-bottom: 2vw;
}

.note-first-row {
  display: flex;
  gap: 7rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.note-content-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
}

.note-ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 1.25rem;
}

/* .note-p {
  margin-top: 1vw;
  margin-bottom: 0.3vw;
} */

.note-li {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.note-navbar {
  width: 5rem;
  background: none;
}

.note-btn-back {
  font-size: 0.825rem;
  opacity: 0.7;
}

.note-daily {
  font-size: 0.95rem;
  font-weight: 600;
  text-align: start;
}

.note-p,
.note-ul {
  font-size: 0.625rem;
  color: #D8D8D8;
}

.note-p {
  margin-bottom: 0.5rem;
}

.note-pic {
  margin-top: 2.5rem;
}

.note-cover-photo {
  width: 19rem;
  margin-right: 5vw;
}

.note-book-box {
  padding: 2rem;
  background-color: rgba(13, 10, 41, 0.8);
  border-radius: 0.5vw;

}

.note-write-here-text {
  background-color: #BEBDBD;
  padding: 2rem 3rem;
  height: 100%;
  width: 110%;
  border-top-left-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 50vh;
  max-width: 100vw;
  overflow: auto;
  font-size: 0.781vw;
  color: #363636;
}

.note-write-here {
  display: flex;
  flex-direction: column;
  height: 20vw;
  width: 60vw;
}

.note-save-btn {
  width: fit-content;
  padding: 0.3vw 1.5vw;
  font-size: 0.625vw;
  border-radius: 50px;
  border: none;
  align-self: flex-end;
  margin-top: 1rem;
  margin-left: 5rem;
  background-color: #D278AE;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.note-save-btn:hover {
  background-color: #b5658e;
  transform: scale(1.05);
}

.note-save-btn:active {
  transform: scale(0.95);
}

.note-back-y {
  color: #fff;
  font-size: 0.625vw;
  text-decoration: none;
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  opacity: 0.7;
}

.fa-chevron-left {
  font-size: 1vw;
  color: #fff;
  opacity: 0.7;
}

.note-left-text {
  margin-bottom: 1vw;
  margin-top: 1vw;
  color: #D8D8D8;
}

.note-daily {
  color: #fff;
}