* {
  box-sizing: border-box;
}

.sidebar {
  background-color: rgba(16, 13, 46, 0.8);
  color: white;
  width: 13.5vw;
  height: 100%;
  padding: 1.0417vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.Logo{
    width: 7.2083vw;
    margin-bottom: 0.5208vw;
    margin-top: 2.6042vw;
}

li{
    display: flex;
    flex-direction: row;
    margin-top: 2.8646vw; 
    margin-bottom: 2.0833vw;
}

.icon-home{
    position: absolute;
    width: 1vw;
    left: 3.0833vw;
}

.p-home{
    margin-left: 1.7417vw;
    position: absolute;
    cursor: pointer;
}

.p-home:hover{
    font-weight: 600;
}

.icon-meditation{
    position: absolute;
    width: 1vw;
    left: 3.0833vw;
}

.p-meditation{
    margin-left: 1.7417vw;
    position: absolute;
    cursor: pointer;
}

.p-meditation:hover{
    font-weight: 600;
}

.icon-journaling{
    position: absolute;
    width: 0.9vw;
    left: 3.0833vw;
}

.p-journaling{
    margin-left: 1.7417vw;
    position: absolute;
    cursor: pointer;
}

.p-journaling:hover{
    font-weight: 600;
}

.icon-timer{
    position: absolute;
    width: 1.1vw;
    left: 3.0833vw;
}

.p-timer{
    margin-left: 1.7417vw;
    position: absolute;
    cursor: pointer;
}

.p-timer:hover{
    font-weight: 600;
}

.icon-profile{
    position: absolute;
    width: 1.3vw;
    left: 3.0833vw;
    margin-top: -0.4804vw;
}

.p-profile{
    margin-left: 1.7417vw;
    cursor: pointer;
}

.p-profile:hover{
    font-weight: 600;
}

.lista {
  list-style-type: none;
  font-size: 0.68vw;
  margin-top: 2.6042vw;
}

p{  
    margin-left: 0.5208vw;
}

.emergency{
    margin-top: 2.1667vw;
    background-color: transparent;
    border: 0.1vw solid; 
}

.toggle-container {
    position: relative;
    width: 3.125vw;
    height: 1.563vw;
    margin-top: 10vw;
  }
  
  .toggle {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #0becfe, #1a5de9);
    border-radius: 1.563vw;
    transition: background 0.3s;
  }
  
  .toggle-ball {
    position: absolute;
    top: 50%;
    left: 0.208vw;
    width: 1.667vw;
    height: 1.667vw;
    background: linear-gradient(135deg, #0becfe, #1a5de9);
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translateY(-50%);
  }
  .toggle-input[type="checkbox"] {
    display: none;
  }
  
  .toggle-input[type="checkbox"]:checked + .toggle {
    background: linear-gradient(135deg, #1a5de9, #0becfe);
  }
  
  .toggle-input[type="checkbox"]:checked + .toggle .toggle-ball {
    transform: translate(1.458vw, -50%);
  }
  
.toggle{
    margin-top: 10.4167vw;
    margin-right: -2.0833vw;
}

.logout{
    background-color: transparent;
    border:none;
}