* {
  box-sizing: border-box;
}

.sidebar {
  background-color: rgba(16, 13, 46, 0.8);
  color: white;
  width: 240px;
  height: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.Logo{
    width: 100px;
    margin-bottom: 10px;
    margin-top: 50px;
}

li{
    display: flex;
    flex-direction: row;
    margin-top: 55px; 
    margin-bottom: 40px;
}

.icon-home{
    position: absolute;
    width: 16px;
    left: 40px;
}

.p-home{
    margin-left: 20px;
    position: absolute;
    cursor: pointer;
}

.icon-meditation{
    position: absolute;
    width: 19px;
    left: 40px;
}

.p-meditation{
    margin-left: 20px;
    position: absolute;
    cursor: pointer;
}

.icon-journaling{
    position: absolute;
    width: 20px;
    left: 40px;
}

.p-journaling{
    margin-left: 20px;
    position: absolute;
    cursor: pointer;
}

.icon-timer{
    position: absolute;
    width: 20px;
    left: 40px;
}

.p-timer{
    margin-left: 20px;
    position: absolute;
    cursor: pointer;
}

.icon-profile{
    position: absolute;
    width: 22px;
    left: 40px;
    margin-top: -5px;
}

.p-profile{
    margin-left: 20px;
    cursor: pointer;
}

p:hover{
    font-weight: 600;
}

.lista {
  list-style-type: none;
  font-size: 12px;
  margin-top: 50px;
}

p{
    margin-left: 10px;
}

.emergency{
    margin-top: 80px;
}

.toggle{
    margin-top: 200px;
    margin-right: -40px;
}
