* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timer-page-body {
  font-family: "poppins", sans-serif;
  background-image: url("/images/timer-bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.timer-wrapper{
  margin-left: -10vw;
}

.timer-para-flex {
  display: flex;
  margin-left: 5vw;
}

.timer-navbar-box {
  width: 12.5vw;
}

.timer-title {
  font-size: 2.5vw;
  font-weight: 500;
}

.timer-number {
  font-size: 3.333vw;
  font-weight: 600;
}

.timer-music-title {
  font-size: 1.042vw;
  font-weight: 500;
}

.timer-author-box {
  font-size: 0.625vw;
  color: #c5c5c5;
  font-weight: 400;
}

.timer-content-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 2%;
  padding-bottom: 2%;
}

.timer-animation-1,
.timer-animation-2,
.timer-animation-3 {
  position: absolute;
  animation: pulse 4s infinite;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }
}

.timer-animation-1 {
  height: 31vw;
  width: 31vw;
  border: 0.313vw solid white;
  opacity: 0.1;
  border-radius: 18.229vw;
  top: 8.5vw;
  left: 37.5vw;
}

.timer-animation-2 {
  height: 25vw;
  width: 25vw;
  border: 0.313vw solid white;
  opacity: 0.1;
  border-radius: 13.802vw;
  top: 11.5vw;
  left: 40.5vw;
}

.timer-animation-3 {
  height: 17.917vw;
  width: 17.917vw;
  border: 0.313vw solid white;
  opacity: 0.3;
  border-radius: 8.958vw;
  top: 14.5vw;
  left: 44vw;
}

.timer-music-section-box {
  display: flex;
}

.timer-music-section-box {
  display: grid;
  grid-template-columns: repeat(3, 20.833vw);
}

.timer-replay-box,
.timer-play-box,
.timer-pause-box {
  width: 33%;
}

.timer-play-btn-box {
  display: flex;
}

.timer-btn-replay,
.timer-btn-homey {
  width: 3.125vw;
  height: 3.125vw;
  cursor: pointer;
  border-radius: 3.073vw;
  border: 0.104vw solid #d278ae;
  background-color: #864d82;
}

.timer-btn-play {
  width: 4.167vw;
  height: 4.167vw;
  border-radius: 2.604vw;
  border: 0.104vw solid #d278ae;
  background-color: #864d82;
  cursor: pointer;
}

.play-pause{
  object-fit: contain;
}

.timer-replay-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-play-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-pause-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-icon-replay {
  width: 2.083vw;
  color: #fff;
}

.fa-square {
  font-size: 1.042vw;
  color: #fff;
}

.fa-rotate-right {
  font-size: 1.042vw;
  color: #fff;
}

.timer-music-img-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
}


.timer-cover-size {
  width: 5.365vw;
}

.timer-navbar-box {
  background:none;
}

.time-selection {
  position: absolute;
  top: 24vw;
  left: 80vw;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.timer-btn-style {
  width: 4vw;
  height: 4vw;
  border-radius: 2vw;
  border: 0.104vw solid #d278ae;
  background-color: #864d82;
  cursor: pointer;
}

.replay-yes-true {
  margin-left: -1vw;
  font-size: 0.6vw;
}

.play-pause-options {
  font-size: 1vw;
  margin-left: -0.9vw;
}

.pause-para-centrar {
  margin-left: -0.2vw;
  font-size: 0.8vw;
}

.go-home-please {
  font-size: 0.6vw;
  margin-left: -0.9vw;
}

.timer-title-estiloso {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 48px;
  color: #D7D7D7;
}

.timer-btn-a {
  background-color: #864D82; 
  font-size: 0.7vw;
  font-weight: 300;
  border: 2px solid #D278AE; 
  color: white;
  padding: 0.5vw 1vw;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, border-color 0.3s ease; 
}

.timer-btn-a:hover {
  background-color: #D278AE; 
  border-color: #864D82; 
  transform: translateY(-3px); 
}

.timer-btn-a:active {
  transform: translateY(0); 
}

.timer-btn-play, .timer-btn-replay, .timer-btn-homey {
  transition: background-color 0.3s ease, transform 0.2s ease, border-color 0.3s ease; 
}

.timer-btn-play:hover, .timer-btn-replay:hover, .timer-btn-homey:hover {
  background-color: #D278AE; 
  border-color: #864D82;
  transform: translateY(-3px);
}

.timer-btn-play:active, .timer-btn-replay:active, .timer-btn-homey:active {
  transform: translateY(0); 
}